services:
  caddy:
    image: caddy:2-alpine
    ports:
      - "80:80"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - ./src:/var/www/html
    depends_on:
      - php

  php:
    build: ./php
    volumes:
      - ./src:/var/www/html

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: dwes
      MYSQL_DATABASE: demo
      MYSQL_USER: dwes
      MYSQL_PASSWORD: dwes
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:

